* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
a{ 
  text-decoration: none;
}

body {
  font-family: 'Arvo', serif;
}

section{
  margin: 0 auto;
  text-align: center;
}

// ALINEACION
.centrado{
  margin: 0 auto;
}

.flex{
  display: flex;
}

// TIPOGRAFÍAS
.fontTexto{
  font-family: 'Open Sans', sans-serif;
}

.fontTitulo{
  font-family: 'GuardianSans';
}

.fontDestacado{
  font-family: 'Cormorant Garamond', serif;
}

// COLORES
.colorDestacado{
  color: $fidesRed;
}
.colorTexto{
  color:$fidesText
}

.textoDestacado{
  font-weight: 600; 
  font-style: italic;
}

.fondoGris{
  background-color: $backGris;
}

// NIVELES DE LECTURA
.titulo{
  font-size: 30px;
  letter-spacing: 1px;
  @media screen and (max-width:600px) {
    font-size: 25px;
    line-height: 30px;
  }
}

// DIMENSIONES
.w90{
  width: 90%;
}
.w90-mobile{
  @media screen and (max-width:700px) {
    width: 90%;
  }
}
.mw1080{
  max-width: 1080px;
}
.mw900{
  max-width: 900px;
}
.fw-700{
  font-weight: 600;
}
.fw-600{
  font-weight: 600;
}
.fw-500{
  font-weight: 500;
}
//ACCESOS
section#bloqueLinks{
  gap:30px;
  margin-top:80px;
  margin-bottom: 80px;
  @media screen and (max-width:800px){
    flex-direction: column;
  }
  a.bloqueLinks-acceso{
    width: 50%;
    display: flex;
    align-items: center;
    height: 200px;
    justify-content: center;
    color:white;
    background-size: 100%;
    letter-spacing: 2px;
    font-size: 30px;
    text-decoration: none;
    transition: 3s;
    &:hover{
      font-size: 32px;
      background-size: 101%;
      background-position: center;
    }
    @media screen and (max-width:800px){
      width: 100%;
    }
  }
}

.botonFides{
  background-color: $fidesRed;
  color: white;
  border:0px;
  padding:4px 30px;
  display: inline-block;
  font-weight: 500;
  border:2px solid $fidesRed;
  box-sizing: border-box;
  transition:0.3s;
  &:hover{
    box-sizing: border-box;
    border:2px solid $fidesRed;
    background-color: white;
    color:$fidesRed;
  }
}

.pl{
  padding-left:20px;
}

#link{
  text-decoration: none;
  color: auto;
}