@font-face {
  font-family: 'GuardianSans';
  src: url(../fonts/GuardianSansMedium.otf);
  font-weight: 300;
  font-style:normal; 
  }

  @font-face {
    font-family: 'GuardianSans';
    src: url(../fonts/GuardianSansBold.otf);
    font-weight: 600;
    font-style:normal; 
    }  


  @font-face {
    font-family: 'GuardianSans';
    src: url(../fonts/GuardianSansRegularIt.otf);
    font-weight: 500;
    font-style:italic; 
    }
  