header{
  width: 90%;
  max-width: 1366px;
  justify-content: space-between;
  div#navbarNav {
    justify-content: flex-end;
    ul.navbar-nav{
      gap:20px;
      font-size: 16px;
    }
  }
}
.navbar-brand{
  @media screen and (max-width: 600px){
    width: 50%;
    img{
      width: 100%;
    }
  }
}