#publicacionesDestacadas{
  .publicacionesDestacadasBack{
    width: 90%;
    background-image: url(../images/publicacionesDestacadasBack.png);
    background-size: 100%;
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    color:white;
    justify-content: center;
    font-size: 30px;
  }
  .botonFides{
    margin-top: 50px;
    font-size: 18px;
    font-weight: 500;
  }
}